:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #141414 !important;
}

body,
#react-target {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100svh;
  width: 100%;
}

a {
  text-decoration: none;
}

.star {
  background: transparent;
  box-shadow:
    35vw 44vh #9fbfec,
    52vw 78vh #9fbfec,
    47vw 62vh #9fbfec,
    66vw 45vh #9fbfec,
    53vw 69vh #9fbfec,
    98vw 4vh #9fbfec,
    21vw 3vh #9fbfec,
    98vw 23vh #9fbfec,
    52vw 43vh #9fbfec,
    24vw 3vh #9fbfec,
    54vw 3vh #9fbfec,
    41vw 65vh #9fbfec,
    78vw 42vh #9fbfec,
    42vw 71vh #9fbfec,
    23vw 39vh #9fbfec,
    65vw 78vh #9fbfec,
    14vw 13vh #9fbfec,
    1vw 4vh #9fbfec,
    86vw 67vh #9fbfec,
    2vw 4vh #9fbfec,
    93vw 25vh #9fbfec,
    33vw 45vh #9fbfec,
    97vw 90vh #9fbfec,
    55vw 99vh #9fbfec,
    18vw 62vh #9fbfec,
    28vw 50vh #9fbfec,
    61vw 6vh #9fbfec,
    79vw 82vh #9fbfec,
    88vw 46vh #9fbfec,
    63vw 21vh #9fbfec,
    21vw 45vh #9fbfec,
    55vw 90vh #9fbfec,
    99vw 68vh #9fbfec,
    37vw 75vh #9fbfec,
    11vw 6vh #9fbfec,
    15vw 14vh #9fbfec,
    33vw 90vh #9fbfec,
    13vw 27vh #9fbfec,
    33vw 98vh #9fbfec,
    65vw 56vh #9fbfec,
    2vw 93vh #9fbfec,
    6vw 12vh #9fbfec,
    8vw 71vh #9fbfec,
    67vw 10vh #9fbfec,
    1vw 95vh #9fbfec,
    11vw 61vh #9fbfec,
    92vw 22vh #9fbfec,
    11vw 23vh #9fbfec,
    67vw 70vh #9fbfec,
    53vw 8vh #9fbfec,
    83vw 99vh #9fbfec,
    93vw 29vh #9fbfec,
    7vw 41vh #9fbfec,
    15vw 64vh #9fbfec,
    97vw 6vh #9fbfec,
    53vw 66vh #9fbfec,
    99vw 44vh #9fbfec,
    85vw 22vh #9fbfec,
    60vw 71vh #9fbfec,
    17vw 8vh #9fbfec,
    77vw 17vh #9fbfec,
    17vw 63vh #9fbfec,
    79vw 32vh #9fbfec,
    22vw 26vh #9fbfec,
    78vw 73vh #9fbfec,
    64vw 61vh #9fbfec,
    92vw 100vh #9fbfec,
    34vw 91vh #9fbfec,
    92vw 77vh #9fbfec,
    57vw 57vh #9fbfec,
    74vw 35vh #9fbfec,
    92vw 76vh #9fbfec,
    92vw 31vh #9fbfec,
    51vw 51vh #9fbfec,
    46vw 50vh #9fbfec,
    99vw 22vh #9fbfec,
    14vw 84vh #9fbfec,
    40vw 66vh #9fbfec,
    35vw 2vh #9fbfec,
    51vw 26vh #9fbfec,
    3vw 80vh #9fbfec,
    71vw 21vh #9fbfec,
    24vw 18vh #9fbfec,
    55vw 31vh #9fbfec,
    7vw 70vh #9fbfec,
    98vw 55vh #9fbfec,
    73vw 74vh #9fbfec,
    93vw 50vh #9fbfec,
    29vw 52vh #9fbfec,
    13vw 72vh #9fbfec,
    51vw 61vh #9fbfec,
    100vw 8vh #9fbfec,
    96vw 73vh #9fbfec,
    24vw 52vh #9fbfec,
    66vw 97vh #9fbfec,
    67vw 79vh #9fbfec,
    66vw 27vh #9fbfec,
    83vw 44vh #9fbfec,
    34vw 66vh #9fbfec,
    52vw 42vh #9fbfec,
    57vw 31vh #9fbfec,
    96vw 96vh #9fbfec,
    14vw 15vh #9fbfec,
    29vw 56vh #9fbfec,
    92vw 50vh #9fbfec,
    47vw 87vh #9fbfec,
    63vw 25vh #9fbfec,
    9vw 53vh #9fbfec,
    2vw 88vh #9fbfec,
    1vw 92vh #9fbfec,
    29vw 23vh #9fbfec,
    19vw 57vh #9fbfec,
    85vw 63vh #9fbfec,
    18vw 49vh #9fbfec,
    99vw 66vh #9fbfec,
    28vw 52vh #9fbfec,
    83vw 12vh #9fbfec,
    71vw 23vh #9fbfec,
    73vw 75vh #9fbfec,
    27vw 3vh #9fbfec,
    69vw 63vh #9fbfec,
    47vw 75vh #9fbfec,
    16vw 10vh #9fbfec,
    86vw 28vh #9fbfec,
    12vw 34vh #9fbfec,
    37vw 58vh #9fbfec,
    60vw 55vh #9fbfec,
    46vw 83vh #9fbfec,
    44vw 76vh #9fbfec,
    19vw 14vh #9fbfec,
    95vw 88vh #9fbfec,
    73vw 39vh #9fbfec,
    21vw 69vh #9fbfec,
    38vw 64vh #9fbfec,
    27vw 29vh #9fbfec,
    19vw 31vh #9fbfec,
    94vw 69vh #9fbfec,
    13vw 96vh #9fbfec,
    32vw 80vh #9fbfec,
    50vw 68vh #9fbfec,
    17vw 3vh #9fbfec,
    100vw 7vh #9fbfec,
    92vw 61vh #9fbfec,
    52vw 38vh #9fbfec,
    37vw 38vh #9fbfec,
    64vw 39vh #9fbfec,
    71vw 32vh #9fbfec,
    80vw 17vh #9fbfec,
    84vw 50vh #9fbfec,
    67vw 35vh #9fbfec,
    97vw 53vh #9fbfec,
    69vw 58vh #9fbfec,
    67vw 86vh #9fbfec,
    46vw 20vh #9fbfec,
    80vw 61vh #9fbfec,
    8vw 89vh #9fbfec,
    83vw 27vh #9fbfec,
    49vw 21vh #9fbfec,
    13vw 97vh #9fbfec,
    42vw 20vh #9fbfec,
    6vw 72vh #9fbfec,
    19vw 95vh #9fbfec,
    34vw 22vh #9fbfec,
    17vw 30vh #9fbfec,
    71vw 51vh #9fbfec,
    51vw 53vh #9fbfec,
    43vw 43vh #9fbfec,
    14vw 22vh #9fbfec,
    6vw 38vh #9fbfec,
    60vw 66vh #9fbfec,
    74vw 85vh #9fbfec,
    66vw 5vh #9fbfec,
    43vw 94vh #9fbfec,
    69vw 10vh #9fbfec,
    87vw 79vh #9fbfec,
    97vw 35vh #9fbfec,
    56vw 55vh #9fbfec,
    80vw 9vh #9fbfec,
    58vw 44vh #9fbfec,
    81vw 47vh #9fbfec,
    98vw 99vh #9fbfec,
    65vw 92vh #9fbfec,
    42vw 93vh #9fbfec,
    94vw 54vh #9fbfec,
    4vw 63vh #9fbfec,
    34vw 90vh #9fbfec,
    70vw 1vh #9fbfec,
    47vw 93vh #9fbfec,
    92vw 63vh #9fbfec,
    58vw 27vh #9fbfec,
    52vw 71vh #9fbfec,
    93vw 63vh #9fbfec,
    15vw 72vh #9fbfec,
    49vw 53vh #9fbfec,
    31vw 97vh #9fbfec,
    35vw 60vh #9fbfec,
    46vw 26vh #9fbfec,
    29vw 99vh #9fbfec,
    98vw 82vh #9fbfec,
    85vw 39vh #9fbfec,
    34vw 84vh #9fbfec,
    85vw 47vh #9fbfec,
    96vw 48vh #9fbfec,
    6vw 74vh #9fbfec,
    49vw 64vh #9fbfec,
    59vw 52vh #9fbfec,
    3vw 88vh #9fbfec,
    90vw 36vh #9fbfec,
    63vw 55vh #9fbfec,
    53vw 66vh #9fbfec,
    16vw 82vh #9fbfec,
    34vw 24vh #9fbfec,
    35vw 18vh #9fbfec,
    87vw 26vh #9fbfec,
    53vw 56vh #9fbfec,
    33vw 77vh #9fbfec,
    100vw 4vh #9fbfec,
    92vw 8vh #9fbfec,
    46vw 5vh #9fbfec,
    80vw 100vh #9fbfec,
    45vw 48vh #9fbfec,
    39vw 88vh #9fbfec,
    78vw 87vh #9fbfec,
    25vw 45vh #9fbfec,
    24vw 59vh #9fbfec,
    45vw 90vh #9fbfec,
    95vw 45vh #9fbfec,
    95vw 85vh #9fbfec,
    34vw 15vh #9fbfec,
    23vw 63vh #9fbfec,
    35vw 8vh #9fbfec,
    19vw 29vh #9fbfec,
    70vw 100vh #9fbfec,
    49vw 15vh #9fbfec,
    90vw 58vh #9fbfec,
    86vw 71vh #9fbfec,
    9vw 49vh #9fbfec,
    57vw 94vh #9fbfec,
    64vw 93vh #9fbfec,
    100vw 74vh #9fbfec,
    27vw 15vh #9fbfec,
    82vw 28vh #9fbfec,
    56vw 44vh #9fbfec,
    85vw 28vh #9fbfec,
    25vw 83vh #9fbfec,
    89vw 74vh #9fbfec,
    4vw 88vh #9fbfec,
    74vw 25vh #9fbfec,
    43vw 57vh #9fbfec,
    14vw 57vh #9fbfec,
    11vw 33vh #9fbfec,
    78vw 70vh #9fbfec,
    96vw 27vh #9fbfec,
    25vw 47vh #9fbfec,
    77vw 95vh #9fbfec,
    42vw 91vh #9fbfec,
    59vw 64vh #9fbfec,
    90vw 92vh #9fbfec,
    44vw 35vh #9fbfec,
    5vw 11vh #9fbfec,
    2vw 88vh #9fbfec,
    68vw 37vh #9fbfec,
    30vw 6vh #9fbfec,
    73vw 9vh #9fbfec,
    85vw 80vh #9fbfec,
    46vw 73vh #9fbfec,
    86vw 97vh #9fbfec,
    93vw 22vh #9fbfec,
    15vw 87vh #9fbfec,
    39vw 6vh #9fbfec,
    56vw 45vh #9fbfec,
    25vw 57vh #9fbfec,
    49vw 88vh #9fbfec,
    40vw 94vh #9fbfec,
    63vw 25vh #9fbfec,
    57vw 56vh #9fbfec,
    74vw 34vh #9fbfec,
    56vw 83vh #9fbfec,
    41vw 60vh #9fbfec,
    47vw 52vh #9fbfec,
    12vw 57vh #9fbfec,
    74vw 97vh #9fbfec,
    12vw 9vh #9fbfec,
    20vw 75vh #9fbfec,
    14vw 91vh #9fbfec,
    36vw 77vh #9fbfec,
    32vw 60vh #9fbfec,
    14vw 94vh #9fbfec,
    82vw 59vh #9fbfec,
    6vw 78vh #9fbfec,
    49vw 87vh #9fbfec,
    43vw 18vh #9fbfec,
    40vw 2vh #9fbfec,
    88vw 82vh #9fbfec,
    39vw 8vh #9fbfec,
    94vw 35vh #9fbfec,
    53vw 58vh #9fbfec,
    38vw 38vh #9fbfec,
    80vw 100vh #9fbfec,
    57vw 32vh #9fbfec,
    25vw 79vh #9fbfec,
    99vw 10vh #9fbfec,
    5vw 73vh #9fbfec,
    9vw 3vh #9fbfec,
    48vw 100vh #9fbfec,
    26vw 99vh #9fbfec,
    90vw 69vh #9fbfec,
    8vw 88vh #9fbfec,
    55vw 88vh #9fbfec,
    95vw 67vh #9fbfec,
    49vw 79vh #9fbfec,
    76vw 22vh #9fbfec,
    32vw 51vh #9fbfec,
    44vw 48vh #9fbfec,
    55vw 68vh #9fbfec,
    28vw 91vh #9fbfec,
    50vw 59vh #9fbfec,
    68vw 85vh #9fbfec,
    15vw 22vh #9fbfec,
    22vw 3vh #9fbfec,
    21vw 12vh #9fbfec,
    57vw 54vh #9fbfec,
    14vw 74vh #9fbfec,
    82vw 20vh #9fbfec,
    62vw 67vh #9fbfec,
    82vw 57vh #9fbfec,
    67vw 27vh #9fbfec,
    58vw 57vh #9fbfec,
    6vw 57vh #9fbfec,
    52vw 15vh #9fbfec,
    21vw 33vh #9fbfec,
    97vw 29vh #9fbfec,
    41vw 66vh #9fbfec,
    75vw 95vh #9fbfec,
    55vw 51vh #9fbfec,
    92vw 56vh #9fbfec,
    91vw 92vh #9fbfec,
    13vw 19vh #9fbfec,
    49vw 25vh #9fbfec,
    64vw 67vh #9fbfec,
    38vw 35vh #9fbfec,
    93vw 12vh #9fbfec,
    97vw 37vh #9fbfec,
    37vw 78vh #9fbfec,
    28vw 6vh #9fbfec,
    77vw 69vh #9fbfec,
    2vw 69vh #9fbfec,
    35vw 90vh #9fbfec,
    75vw 46vh #9fbfec,
    90vw 54vh #9fbfec,
    34vw 89vh #9fbfec,
    74vw 20vh #9fbfec,
    90vw 57vh #9fbfec,
    12vw 61vh #9fbfec,
    41vw 51vh #9fbfec,
    28vw 69vh #9fbfec,
    79vw 14vh #9fbfec,
    12vw 29vh #9fbfec,
    5vw 49vh #9fbfec,
    87vw 7vh #9fbfec,
    35vw 89vh #9fbfec,
    14vw 38vh #9fbfec,
    81vw 93vh #9fbfec,
    5vw 8vh #9fbfec,
    10vw 70vh #9fbfec,
    81vw 80vh #9fbfec,
    7vw 63vh #9fbfec,
    8vw 98vh #9fbfec,
    90vw 76vh #9fbfec,
    2vw 88vh #9fbfec,
    94vw 71vh #9fbfec,
    98vw 76vh #9fbfec,
    41vw 36vh #9fbfec,
    91vw 72vh #9fbfec,
    72vw 36vh #9fbfec,
    11vw 90vh #9fbfec,
    32vw 55vh #9fbfec,
    61vw 22vh #9fbfec,
    84vw 9vh #9fbfec,
    6vw 34vh #9fbfec,
    21vw 10vh #9fbfec,
    68vw 49vh #9fbfec,
    90vw 52vh #9fbfec,
    80vw 84vh #9fbfec,
    93vw 39vh #9fbfec,
    31vw 38vh #9fbfec,
    1vw 2vh #9fbfec,
    45vw 73vh #9fbfec,
    97vw 89vh #9fbfec,
    4vw 90vh #9fbfec,
    39vw 6vh #9fbfec,
    18vw 55vh #9fbfec,
    68vw 73vh #9fbfec,
    70vw 64vh #9fbfec,
    40vw 82vh #9fbfec,
    78vw 46vh #9fbfec,
    24vw 74vh #9fbfec,
    19vw 33vh #9fbfec,
    4vw 15vh #9fbfec,
    7vw 18vh #9fbfec,
    32vw 35vh #9fbfec,
    92vw 26vh #9fbfec,
    98vw 52vh #9fbfec,
    62vw 27vh #9fbfec,
    52vw 30vh #9fbfec,
    58vw 96vh #9fbfec,
    41vw 100vh #9fbfec,
    33vw 56vh #9fbfec,
    70vw 28vh #9fbfec,
    26vw 36vh #9fbfec,
    12vw 14vh #9fbfec,
    15vw 88vh #9fbfec,
    12vw 10vh #9fbfec,
    36vw 74vh #9fbfec,
    45vw 87vh #9fbfec,
    92vw 22vh #9fbfec,
    67vw 100vh #9fbfec,
    25vw 58vh #9fbfec,
    2vw 54vh #9fbfec,
    19vw 97vh #9fbfec,
    98vw 74vh #9fbfec,
    55vw 50vh #9fbfec,
    11vw 83vh #9fbfec,
    4vw 11vh #9fbfec,
    41vw 11vh #9fbfec,
    57vw 72vh #9fbfec,
    79vw 49vh #9fbfec,
    49vw 34vh #9fbfec,
    4vw 62vh #9fbfec,
    67vw 69vh #9fbfec,
    65vw 3vh #9fbfec,
    3vw 94vh #9fbfec,
    1vw 42vh #9fbfec,
    97vw 2vh #9fbfec,
    66vw 25vh #9fbfec,
    5vw 55vh #9fbfec,
    23vw 10vh #9fbfec,
    33vw 27vh #9fbfec,
    54vw 87vh #9fbfec,
    23vw 20vh #9fbfec,
    65vw 23vh #9fbfec,
    74vw 14vh #9fbfec,
    57vw 70vh #9fbfec,
    8vw 51vh #9fbfec,
    26vw 92vh #9fbfec,
    10vw 32vh #9fbfec,
    12vw 93vh #9fbfec,
    65vw 44vh #9fbfec,
    47vw 56vh #9fbfec,
    60vw 31vh #9fbfec,
    28vw 24vh #9fbfec,
    17vw 13vh #9fbfec,
    2vw 10vh #9fbfec,
    83vw 75vh #9fbfec,
    53vw 1vh #9fbfec,
    30vw 58vh #9fbfec,
    94vw 14vh #9fbfec,
    51vw 43vh #9fbfec,
    44vw 80vh #9fbfec,
    14vw 72vh #9fbfec,
    41vw 5vh #9fbfec,
    66vw 98vh #9fbfec,
    1vw 58vh #9fbfec,
    9vw 64vh #9fbfec,
    40vw 79vh #9fbfec,
    96vw 34vh #9fbfec,
    70vw 66vh #9fbfec,
    89vw 57vh #9fbfec,
    7vw 58vh #9fbfec,
    77vw 49vh #9fbfec,
    60vw 97vh #9fbfec,
    15vw 78vh #9fbfec,
    76vw 68vh #9fbfec,
    48vw 54vh #9fbfec,
    66vw 91vh #9fbfec,
    11vw 35vh #9fbfec,
    57vw 68vh #9fbfec,
    29vw 6vh #9fbfec,
    15vw 12vh #9fbfec,
    63vw 4vh #9fbfec,
    85vw 85vh #9fbfec,
    22vw 3vh #9fbfec,
    89vw 10vh #9fbfec,
    54vw 100vh #9fbfec,
    31vw 100vh #9fbfec,
    52vw 3vh #9fbfec,
    46vw 99vh #9fbfec,
    78vw 26vh #9fbfec,
    68vw 45vh #9fbfec,
    49vw 45vh #9fbfec,
    50vw 27vh #9fbfec,
    77vw 69vh #9fbfec,
    40vw 30vh #9fbfec,
    28vw 69vh #9fbfec,
    30vw 95vh #9fbfec,
    61vw 87vh #9fbfec,
    71vw 35vh #9fbfec,
    8vw 6vh #9fbfec,
    12vw 86vh #9fbfec,
    83vw 14vh #9fbfec;
  height: 1px;
  width: 1px;
}

.log-container:hover {
  background-color: rgb(255 255 255 / 0.05);
}

.log-container:hover .log-container--copy-button {
  display: flex;
}

.log-container--copy-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  background: transparent;
  border: none;
  z-index: 1;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.text-nowrap {
  white-space: nowrap;
}
